body {
    margin: 0;
    display: flex;
    height: 100vh;
}

.sidebar {
    position: inherit;
    display: flex;
    justify-content: center;
    width: 250px;
    border-right: 0.3px solid;
    border-right-color: white;
    background: black;
    color: white;
}
.editor {
    flex: 1;
    background: #111;
}

.modechange {
    height:40px;
    width:40px;
    border:2px solid white;
    position:absolute;
    top:10px;
    right:10px;
    border-radius:17px;

    display:flex;
    align-items:center;
    justify-content:center;

    transition: background 0.4s ease;
}


.icon {
    border: none;
    background: transparent;
    cursor: pointer;
}

/* Icon animation */
.icon svg {
    height: 20px;
    width: 20px;
    transition: transform 0.6s ease, filter 0.4s ease;
}

/* rotation animation */
.rotate {
    transform: rotate(180deg);
}

/* sun glow */
.sun {
    color: #ffcc33;
    filter: drop-shadow(0 0 4px #ffd966);
}
